In [1]:
### 1. Refer to googleplaystore.csv file and solve following questions 
#a. Display First 5 records from Dataframe. 
#b. Display category with highest number of apps registered. 
#c. What is the average rating for all the apps 
#d. Display total number of apps which even supports Andriod version 2.3 and up 
#e. Impute the missing values available in rating column with respective measure 
#of central tendency.

In [6]:
import numpy as np
import pandas as pd

In [9]:
data = pd.read_csv("DATASETS/googleplaystore.csv")

In [12]:
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [19]:
data["Category"].value_counts().head(1)

Category
FAMILY    1972
Name: count, dtype: int64

In [20]:
data["Rating"].mean()

np.float64(4.193338315362443)

In [21]:
data[data["Android Ver"] == "2.3 and up" ].shape[0]

652

In [22]:
data["Rating"].isna().suum()

np.int64(1474)

In [26]:
fill_na_rating = data["Rating"].mean()

In [30]:
data["Rating"].fillna(fill_na_rating, inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_16444\2961785794.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Rating"].fillna(fill_na_rating, inplace=True)

In [32]:
data["Rating"].isna().sum()

np.int64(0)

In [33]:
# 2. Refer to salaries.xlsx file and solve following questions 
#a. Check head of the dataframe 
#b. Find out details about no. of entries & no. of columns in the data frame 
#c. What is the average base pay? 
#d. What is the highest amount of overtime pay in the dataset? 
#e. What is the job title of JOSEPH DRISCOLL? 
#f. 
#How much does JOSEPH DRISCOLL make (including benefits)? 
#g. How many unique job titles are there? 
#h. What are the top 5 common jobs?

In [37]:
df = pd.read_excel("DATASETS/Salaries.xlsx")

In [38]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [40]:
df.shape

(1000, 13)

In [41]:
df["BasePay"].mean()

np.float64(145663.9982)

In [42]:
df["OvertimePay"].max()

np.float64(245131.88)

In [45]:
df[df["EmployeeName"]== "JOSEPH DRISCOLL"]['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [46]:
df[df["EmployeeName"] == "JOSEPH DRISCOLL"]["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [47]:
df["JobTitle"].nunique()

113

In [49]:
df["JobTitle"].value_counts().head()

JobTitle
FIREFIGHTER                           133
LIEUTENANT, FIRE DEPARTMENT            62
FIRE FIGHTER PARAMEDIC                 43
CAPTAIN, FIRE SUPPRESSION              42
BATTALION CHIEF, (FIRE DEPARTMENT)     41
Name: count, dtype: int64