In [1]:
import numpy as np
import pandas as pd

# Series

In [2]:
s1 = pd.Series([1,2,3,4,5]) # seres  it gives result into the vertical format
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

### label indexing ======= (when we do not specified index then it bydefault starts from 0)

In [3]:
s2 = pd.Series([10,20,30,40,50],index=['l1','l2','l3','l4','l5']) # giveng the lables for indexing so we can use then as a index 
s2

l1    10
l2    20
l3    30
l4    40
l5    50
dtype: int64

## Differant ways of creating series

##### converting arry into series ======(with random no range 1 to 50 with 5 numbers) with lables

In [4]:
s3 = pd.Series(np.random.randint(1,50,5), index=['d1','d2','d3','d4','d5'])
s3

d1    12
d2    37
d3    24
d4     1
d5     2
dtype: int32

### Accessing elements ====(INDECING, LABEL AND DEFAULT)

In [5]:
# s2['l1'] 
# s2['l4']
# s2.iloc[0]
# s2.iloc[2]

#### creating seres into the key value pair======(DICTONARY) no need to specifie index

In [6]:
toppers = pd.Series({"IT":70, "MATH":90,"MARATHI": 99,"ENGLISH": 77})
toppers

IT         70
MATH       90
MARATHI    99
ENGLISH    77
dtype: int64

In [7]:
# toppers["IT"]
# toppers.iloc[0]
# toppers[::]
# toppers[::-1]
# toppers[::2]
# toppers[2:2]

#### performing operation on two series

In [8]:
s1 = pd.Series([10,20,30,40,50])
s2 = pd.Series([1,2,3,4,5])
s1+s2

0    11
1    22
2    33
3    44
4    55
dtype: int64

#### performing operation with  labeling ===== (Opertaion perform on only same labeling if the labels are differant then it gives nan values )

In [9]:
s1 = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
s2 = pd.Series([1,2,3,4,5],index=['a','b','d','c','z'])
s1+s2 ## it give nan values for z and e bcz it does not match with any one

a    11.0
b    22.0
c    34.0
d    43.0
e     NaN
z     NaN
dtype: float64

In [10]:
s2

a    1
b    2
d    3
c    4
z    5
dtype: int64

### Conditional Selection

In [11]:
s2[s2%2 == 0]## it returns only even values in the seresi

b    2
c    4
dtype: int64